@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'spacelab';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: #ffffff;
    --color-base-200: #f4f6f9;
    --color-base-300: #f4f6f9;
    --color-base-content: oklch(0% 0 0);
    --color-primary: #007bff;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: #6c757d;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #3c8dbc;
    --color-accent-content: oklch(97% 0.014 308.299);
    --color-neutral: #001f3f;
    --color-neutral-content: oklch(98% 0.014 180.72);
    --color-info: #17a2b8;
    --color-info-content: oklch(100% 0 0);
    --color-success: #28a745;
    --color-success-content: oklch(100% 0 0);
    --color-warning: #ffc107;
    --color-warning-content: oklch(0% 0 0);
    --color-error: #dc3545;
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
