TZ=UTC
PORT=8000
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER=YOUR_USER
SMTP_SECRET=YOUR_SECRET
REACT_FRONTEND_URL="http://localhost:3000"